/* src/components/Layout.css */
.layout {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.leftBar {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
}

.header {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    flex: 1;
}

.menu {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    flex: 30;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
}